<div class="container mt-5">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <h1>найди свой тендер</h1>
        <p class="lead">Не пропусти не одного... Просто зарегиструйся</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Регистрация</button>
            <button class="btn btn-secondary btn-lg">Подробнее</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <p>Форма регистрации</p>
            </div>
        </div>
    </div>
</div>